<h1>Questions#index</h1>
<h1>投稿一覧</h1>
<% @questions.each do |question| %>
  <p>タイトル</p>
  <span><%= link_to question.title, question_path(question) %></span>
  <%= attachment_image_tag question, :image, :fill, 100, 100, format: 'jpeg' %>
<% end %>