<div class="container p-3">
  <div class="top-page">
    <div class="jumbotron p-5">
      <h1 class="display-5">ようこそ、おパンへ</h1>
      <div class="m-4">
        <p>このサイトはパン作りの質問投稿サイトです。ご利用には会員登録が必要になります。</p>
        <a class="btn btn-warning btn-md" href="/users/sign_up" role="button">登録する</a>
      </div>
    </div>
  </div>
</div>