<div class="container">
    <div class="top-page p-5">
      <div class="jumbotron p-5">
        <div class="row">
          <h3 class="display-5 col-md-6 offset-md-2 pt-5">ようこそ、おパンへ</h3>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="m-4">
              <p>このサイトはパン作りの質問投稿サイトです。ご利用には会員登録が必要になります。</p>
                <a class="btn btn-warning btn-md" href="/users/sign_up" role="button">登録する</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>