<div class="container p-3">
  <div class="top-page p-5">
    <div class="jumbotron p-5">
      <h1 class="display-5 col-6 offset-2 pt-5">ようこそ、おパンへ</h1>
      <div class="text-center m-4">
        <p>このサイトはパン作りの質問投稿サイトです。ご利用には会員登録が必要になります。</p>
        <div class="col-3 offset-1">
          <a class="btn btn-warning btn-md" href="/users/sign_up" role="button">登録する</a>
        </div>
      </div>
    </div>
  </div>
</div>