// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
  padding-right: 15px;
 }

.making-genre {
  display: inline-block;
  padding: 5px 8px;
  background-color: #87cefa;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
}

.bread-genre {
  display: inline-block;
  padding: 5px 8px;
  background-color: #ffc0cb;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
}

.social {
  position: absolute;
  top: 20%;
  right: 80px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
