<div class="search-form">
  <%= form_with url: searches_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :content , placeholder: "質問のタイトルor内容" %>
    <%= f.submit '検索' %>
  <% end %>
</div>
